img{
    border-radius: 50px;
}
h1{
    font-family:sans-serif;
}
.das{
    border-radius: 10px;
    border: 3px solid rgb(40, 38, 44);
}
p{
    font-family:sans-serif;
}
.ss{
    font-family:sans-serif;
 
    border: 1px solid rgb(40, 38, 44);
}
body{
    background: #000 url(fon.jpg); /* Фоновый цвет и фоновый рисунок*/
		color: #fff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}